.jumbo {
    background-image: url("../images/code.jpg");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    text-align:center;
}

h1 {
    font-family: 'Righteous', cursive;
    color:white;
}
.headline{
    margin: 100px;
    color: white;
    font-size: 24px;
    text-align: center;
    h3{
      letter-spacing: 1.6px;
      font-weight: 300;
    }
  }
p {
    font-family: 'Open Sans Condensed', sans-serif;
}
.text-js{
    opacity: 0;
  }
  .cursor{
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: -5px;
    width: 2px;
    /* Change colour of Cursor Here */
    background-color: white;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
  }
@keyframes flash{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  h4,h3 {
      font-family: 'Righteous',cursive;
  }
  #intro {
      margin-top: 20px;
  }
  .aboutme, .about {
      text-align:center;
  }
 #me {
     vertical-align: center;
 }
  #skils {
      padding-bottom: 200px;
  }
  .mid {
      background-image: url("../images/mid.png");
      height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    text-align:center;
  }
  .image {
      padding-bottom: 40px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
  }
  .contact {
      padding-top: 40px;
  }
  .image2 {
      margin:80px;
      
  }
 

.thumbnail {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}
@media only screen and (max-width: 380px) {
    .image2 {
        width: 150px;
        height: 155px;
        margin: 0px;
    }
    
    .text-js {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 500px) {
    .image2 {
        margin: 0px;
        width: 280px;
        height: 255px;
    }
    
    .text-js {
        font-size: 1.5em;
    }

    #me {
        width: 220px;
        height: 220px;
    }
}
@media only screen and (max-width: 765px) {

    .text-js {
        font-size: 1.5em;
    }

   .image2 {
       margin: 25px;
   }
    
    }
@media only screen and (max-width:1100px) {

    .image2 {
        margin: 25px;
        width: 250px;
    }
}